/* Jerica Smith Copyright 2023
*/


@font-face {
    font-family: "Alice";
    src: url(fonts/Alice.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway.ttf)
}

* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
    color: #FFF;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(40, 10vh);
    width: 100%;
    height: 100vh;
    text-align: center;
}

section{
    width: 100%;
    height: 100vh;
}

nav {
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.336);
}

nav a {
    text-decoration: none;

}
    
nav a:active{
    color: #fff;
}
    
nav a:visited {
    color: #FFF;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 10rem;
}

h1 {
    font-family: Alice;
    font-size: calc(3vw + 3em);
    font-weight: normal;
}

h2 {
    font-family: Alice;
    font-weight: normal;
}

p {
    font-size: calc(1vw + .5em);
    padding: 3rem 0rem;
}

#center {
    
}

#about {
    grid-column: 1/11;
    grid-row: 1/11;
} 

#portfolio {
    grid-column: 1/11;
    grid-row: 21/31;
}

#contact {
    grid-column: 1/11;
    grid-row: 31/41;
}

#title-bg {
    grid-column:1/11;
    grid-row: 1/11;
    background-image: url("images/bgs/desktop/temp-bg-the-great-wave.png"), url("images/bgs/general/the-great-wave-gradient.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100vw 55vw;
    z-index: -1;
}

#title {
    grid-column: 7/11;
    grid-row: 2/4;
    text-align: center;
}

#about {
    grid-column: 1/11;
    grid-row: 11/21;
    text-align: center;
    background-image: url("images/bgs/general/ocean-bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 55vw;
}

#fish-bg {
    display: grid;
    position:absolute;
    grid-column: 1/11;
    grid-row: 11/21;
    min-width: 100%;
    min-height: 100%;
    opacity: 15%;
}

 #about p{
    display: grid;
    grid-column: 3/8;
    grid-row: 15;
    font-size: 2em;
}

#intro {
    display: flex;
    background-color: #00000071;
}

/* #intro-wrapper{
    display: flex;    
    justify-content: center;
    align-items: center;
} */

#intro p {
    display: flex;
    position: block;
}

.contact-bg {
    background-image: url("images/ocean-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100vw 55vw;
}

.button {
    font-family: Alice;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    width: calc(6vw + 1em);
    height: calc(3vh + 1em);
    border-radius: 20px;
    margin: 1vw; 
    border: none;
    cursor: pointer;
}

.p-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33648f;
    color: #fff;
}

.c-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #071143;
    color: #fff;
}