/* Jerica Smith Copyright 2023 This is a test
*/


@font-face {
    font-family: "Alice";
    src: url(fonts/Alice.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(fonts/Raleway.ttf)
}

* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vw;
    width: 100vw;
    background-color: #000;
    color: #FFF;
    background-image: url("images/temp-grad.png");
}

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
}

nav {
    grid-column: 1/4;
    height: 5vh;}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 10rem;
}


h1 {
    font-family: Alice;
    font-size: calc(3vw + 1em);
    font-weight: normal;
}

h2, p {
    font-family: Raleway;
    font-weight: normal;
}

.intro {
    display: inline-block;
    grid-column:1/11;
    grid-row: 1/11;
    background-image: url("images/temp-bg-the-great-wave.png");
    background-repeat: no-repeat;
    background-size: 99.5vw 55vw;
}

.title {
    grid-column: 4/6;
    grid-row: 2;
}

.about {
    display: inline-block;
    grid-column: 2/5;
}

nav a {
    text-decoration: none;
}

nav a:active{
    color: #fff;
}

nav a:visited {
    color: #FFF;
}

